<div class="container">
  <div>
    Users can answer the survey <a href="/surveys/<%= @survey.id %>/responses/new">here</a>.
  </div>
  <a href="/users/<%= @survey.user.id %>/surveys">Back to Surveys</a>
  <h1>Survey: <%= @survey.name %></h1>
  <h2>Responses</h2>
  <ul>
    <% @survey.questions.each do |question| %>
      <li>
        <div>
          <h3><%= question.prompt %></h3>
          <ul>
            <% question.options.each do |option| %>
              <li><%= option.name %> <div class="bar" data-count="<%= option.responses.count %>"><label><%= option.responses.count %></label></div></li>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<script>
$(document).ready(function() {
  $('.bar').each(function() {
    $this = $(this);
    $this.css({
      color: '#444444',
      backgroundColor: 'rgb(255, 175, 62)',
      textAlign: 'center',
      height: '25px',
      width: ($this.data('count') * 5).toString() + '%'
    });
  });
});
</script>